.demo h1 {
    font-size: 3rem;
    font-weight: bold;
}
.demo h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.demo h3 {
    font-size: 2rem;
    font-weight: bold;
}
.demo h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
.demo h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
.demo h6 {
    font-size: 1rem;
    font-weight: bold;
}
.demo p {
    font-size: 1rem;
}
.demo pre {
    font-size: 1rem;
    background-color: #1c1c1c;
    padding: 0.3rem 0.4rem;
}